<div class="comic-item">
  <img src="<%= comic[:thumbnail] %>" alt="comic thumbnail" class="comic-image">

  <%= render partial: 'favorite', locals: { comic: comic } %>

  <div class="comic-name-tag">
    <%= comic[:title] %>
  </div>
</div>
