<%= turbo_frame_tag :marvel_data do %>
  <div class="index-container">
    <% if @comics.empty? %>
      <%= render partial: 'comics/try_again' %>
    <% else %>
      <%= render partial: 'comics/comics_list', locals: { comics: @comics } %>
    <% end %>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll('.favorite-toggle').forEach((favorite) => {
        favorite.addEventListener('click', (e) => {
          e.currentTarget.classList.toggle('favorite-fill');
        })
      })
    });
  </script>
<% end %>
