<div class="character-item">
  <% if @character.success %>
    <img src="<%= @character.thumbnail %>" alt="character thumbnail" class="comic-image">
  <% else %>
    <img src="https://lightwidget.com/wp-content/uploads/localhost-file-not-found-480x480.avif" alt="comic thumbnail" class="comic-image">
  <% end %>

  <div class="character-infos">
  <p class="character-name"><%= @character.name %></p>
  <p><%= @character.description %></p>
  </div>
</div>
