<%= paginator.render do -%>
  <nav class="pagination" role="navigation" aria-label="pager">
    <li class="prev">
      <%= link_to 'Previous Page', url_for(page: paginator.prev_page_tag), rel: 'prev' %>
    </li>
    <li class="next">
      <%= link_to 'Next Page', url_for(page: paginator.next_page_tag), rel: 'next' %>
    </li>
  </nav>
<% end -%>
