.character-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-item {
  margin-top: 30px;
  height: 50%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.character-infos {
  background-color: goldenrod;
  padding: 10px;
  width: 50%;
  height: 100%;
}

.character-name {
  text-align: center;
}
